<div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
  <a class="skill-card-link" href="{{ if .url }}{{ .url }}{{ else }}#{{ end }}">
    <div class="card">
      <div class="card-head d-flex">
        {{ if .icon }}
        <img class="card-img-xs" src="{{ .icon }}" alt="{{ .name }}" />
        {{ end }}
        <h6 class="card-title">{{ .name }}</h6>
      </div>
      <div class="card-body">
        <p class="card-text"><font size=2>{{ .summary | markdownify }}</font></p>
      </div>
    </div>
  </a>
</div>
