<div class="container-fluid anchor pb-1 experiences-section" id="{{ replace (lower .section.name) " " "-" }}" style="padding-top:15px;">
<div class='parent'>
	<div class="child">
		<img class="colImg" src="/images/_analytics.png">
	</div>
	
	<div class="child">
		<h2>Game Analytics</h2>
		During my PhD, I discovered my passion for game data, which encouraged me to start the now largest platform for <i>Guild Wars 2</i> endgame content analytics: <a href="http://gw2wingman.nevermindcreations.de/" target="_blank">http://gw2wingman.nevermindcreations.de/</a><br>
		Primarly, I am interested in <i>player-driven</i> analytics, so tools, visualizations and reports that give insights about one's own performances, limitations, progress and more. For this, I compile manifold analytics from millions of combat logs directly derived in liaison with the player community that is longing for such feedback <a href="#ref7"><sup>7,11</sup></a>, deploy simulations and co-creative AI optimization <a href="#ref8"><sup>8,12</sup></a>, and assess and quantify tailored notions of <i>game balance</i><a href="#ref9"><sup>9,10</sup></a>.
		Such measures and insights are however equally valuable for game industrials<a href="#ref13"><sup>13</sup></a>. Using higher-level company data from hundreds and games and studios, I developed an interactive tool to scaffold an understanding of success factors among companies and titles: <a href ="https://ghs-gceko.ondigitalocean.app/" target="_blank">https://ghs-gceko.ondigitalocean.app/</a> <a href="#ref21"><sup>21,22</sup></a><br> 
		And, together with my PhD student <a href="https://sites.google.com/ucsc.edu/zhaoqingteng-website/" target="_blank">Zhaoqing "Jimmy" Teng</a>, we brought process mining to game analytics, making sense of the contextual information between sequences of game actions or events, and how to interact, interpret and understand these visualizations: <a href="https://inspect.nevermindcreations.de/GuildWar2/gorKjan.5019-1-dhuum-Reaper-logs-2024-03-13T171734.079Z.csv" target="_blank">https://inspect.nevermindcreations.de/</a> <a href="#ref14"><sup>14-18</sup></a>.
	</div>
</div>
<br>

<center>
<iframe class="vid3" src="https://www.youtube.com/embed/tlt2MAi0TAk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe class="vid3" src="https://www.youtube.com/embed/6YWbTMDBz3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe class="vid3" src="https://www.youtube.com/embed/_58xlUUp9BE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br> &nbsp; 
<table>
{{ $counter := 6 }}
{{ range .cites }}
	{{ $counter = add $counter 1 }}
	<tr style="line-height:1.2em; {{if .award }} background-color: #dddddd;{{ end }}">	
	<td style="vertical-align: top;">
	{{ if .award }}</td><td>🏆 {{.award }}:</td></tr><tr style="line-height:1.2em; background-color: #dddddd;"><td style="vertical-align: top;">{{ end }}

	<sup>{{ $counter }} </sup> 
	</td><td>
	  {{ if .url }}<a href="{{ .url }}" target="_blank" id="ref{{ $counter }}">{{end}}
		<p class="card-text" style="margin-bottom:0.15cm;max-width:1300px;">
		<b>{{ .title | markdownify }}</b>{{ if .subtitle }} {{ .subtitle }}{{ end }}. <br>
		{{ replace .reference  "Pfau, J." "**<u>Pfau, Johannes</u>**" | markdownify }} 
		</p>
	  {{ if .url }}</a>{{end}}
	  </td><td></tr>
{{ end }}
</table>
</center>

</div>