<div class="container-fluid anchor pb-5 experiences-section" id="{{ replace (lower .section.name) " " "-" }}" style="padding-top:15px;">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">Collaborations</h1>
  {{ end }}

  <center>
	Companies and research instutions I worked with and for.<br><br>

{{ range .collabs }}
<table style="display:inline; padding: 25px 25px 25px 25px"><tr><td valign="middle" height=50>
	{{ if .url }}<a href="{{.url}}" target="_blank" style="color:#ffffff;">{{ end }}
	<img src="/images/{{ .img }}" style="max-height: 50px; max-width:200px">
	{{ if .url }}</a>{{ end }}
	</td></tr></table>
{{ end }}
<br>
{{ range .collabsUni }}
<table style="display:inline; padding: 25px 25px 25px 25px"><tr><td valign="middle" height=50>
	{{ if .url }}<a href="{{.url}}" target="_blank" style="color:#ffffff;">{{ end }}
	<img src="/images/{{ .img }}" style="max-height: 50px; max-width:200px">
	{{ if .url }}</a>{{ end }}
	</td></tr></table>
{{ end }}
 
  
  </center>
</div>

