

<div class="container-fluid anchor pb-5 experiences-section" id="{{ replace (lower .section.name) " " "-" }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">Deep Player Behavior Modeling</h1>
  {{ end }}
  <br>
  
<center>
<table border=0>
<tr><td>
<iframe width="840" height="473" src="https://www.youtube.com/embed/KLqI52hWiZk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
<td width=20></td>
<td width="840">
<ul>
<h5>
<li><i>Deep Player Behavior Modeling</i> is a machine learning technique that replicates individual player decision making.</li>
<br>
<li>Atomic state-action pairs are recorded for all symbolic player inputs, so that game state, player state, target state and action history are mapped to a distribution among predicted following actions.</li><br>
<li>Players reported to recognize their own behavioral patterns and enjoyed the challenge of opposing a believable, continuously learning foe.</li><br>
<li>In online multiplayer sessions, players did NOT notice when disconnected fellow players were replaced with their individual substitute.</li><br>
<li>Above that, <i>DPBM</i> can also be used for large-scale automated balancing simulations to closely resemble a whole population of players.</li>
</h5></ul></td></tr></table></center>
<br>

<center>
<h2>Selected Conference Talks:</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NGPHs3alhhU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SU4dTUYZ2MY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-_yHoM0v9Nw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>
</div>