<table><tr><td width="1920">

<center>
<table border=0>
<tr>
<td width="600"> 
<center>
<img src="/images/_jo.png" width="480">
</center>
</td>
<td width=20></td>
<td width="828">
<h2>Hey, I'm Jo!</h2>
I'm a researcher (currently: <a href="https://www.uu.nl/staff/JPfau" target="_blank">Assistant Professor @UU</a>) passionate about (video) games, AI, data <span class="spoiler">(and octopi)</span>.<br>
Scroll through my page to see some showcases of my work for industry and academia.<br>
For questions or collaborations, don't hesitate to <a href="#contact">reach out</a>!
</td></tr></table>

</center>
</td></tr></table>

<style>
.spoiler { 
  color: black; 
  background-color: black;
}

.spoiler:hover, .spoiler:hover a {
  color: white;
}
</style>