<div class="container-fluid anchor pb-1 experiences-section" id="{{ replace (lower .section.name) " " "-" }}" style="padding-top:15px;">
<div class='parent'>
	<div class="child">
		<img class="colImg" src="/images/_dpbmT.png">
	</div>
	
	<div class="child">
		<h2>Deep Player Behavior Modeling</h2>
		In my dissertation project about <i>Deep Player Behavior Modeling</i>, I extended the current state of the art of Imitation Learning by a new approach and several evaluations applied in ecologically valid environments. Up to then, most (generative) player modeling techniques were encompassing larger sets of players to represent something <i>believable</i>, <i>human-like</i> or behavior that would emerge in other unique ways. For the application cases in the following however, I highly emphasize the value of replicating <i>individual</i> playing styles.

		To realize this technique, atomic state-action pairs are recorded for all symbolic player inputs, so that game state, player state, target state and action history are mapped to a distribution among predicted following actions<a href="#ref1"><sup>1</sup></a>.

		This results in a player-like, continuously learning foe, of which game communities reported to recognize their own behavioral patterns and enjoyed the steadily spiraling challenge<a href="#ref2"><sup>2,6</sup></a>.

		It went even so far that, in online multiplayer sessions, players did <i>not</i> notice when disconnected fellow players were replaced with their individual substitutes<a href="#ref3"><sup>3</sup></a>.

		To scale it up, we showed that <i>DPBM</i> can also be used for large-scale automated balancing simulations to closely resemble a whole population of players<a href="#ref4"><sup>4,5</sup></a>.
	</div>
</div>
<br>
<center>
<iframe class="vid3" src="https://www.youtube.com/embed/NGPHs3alhhU?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe class="vid3" src="https://www.youtube.com/embed/SU4dTUYZ2MY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe class="vid3" src="https://www.youtube.com/embed/-_yHoM0v9Nw?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<table>
{{ $counter := 0 }}
{{ range .cites }}
	{{ $counter = add $counter 1 }}
	<tr style="line-height:1.2em; {{if .award }} background-color: #dddddd;{{ end }}">	
	<td style="vertical-align: top;">
	{{ if .award }}</td><td>🏆 {{.award }}:</td></tr><tr style="line-height:1.2em; background-color: #dddddd;"><td style="vertical-align: top;">{{ end }}

	<sup>{{ $counter }} </sup> 
	</td><td>
	  {{ if .url }}<a href="{{ .url }}" target="_blank" id="ref{{ $counter }}">{{end}}
		<p class="card-text" style="margin-bottom:0.15cm;max-width:1300px;">
		<b>{{ .title | markdownify }}</b>{{ if .subtitle }} {{ .subtitle }}{{ end }}. <br>
		{{ replace .reference  "Pfau, J." "**<u>Pfau, Johannes</u>**" | markdownify }} 
		</p>
	  {{ if .url }}</a>{{end}}
	  </td><td></tr>
{{ end }}
</table>
</center>

</div>