<div class="container-fluid anchor pb-1 experiences-section" id="{{ replace (lower .section.name) " " "-" }}" style="padding-top:15px;">
<div class='parent'>
	<div class="child">
		<img class="colImg" src="/images/_teaching.png">
	</div>
	
	<div class="child">
		<h2>Teaching</h2>
		In parallel to my research activities, I also contributed to a number of academic courses in the roles of tutor, guest lecturer, or seminar coordinator. From 2024 onwards, I started to develop and teach the full course <i>AI-Driven Content Generation</i> at Utrecht University <a href="#ref44"><sup>44</sup></a>. In it's design, I ensured coverage of theoretical background knowledge for students from diverse Master's programs, up-to-date advances of this rapidly evolving field, and practical application through weekly hands-on sessions using local models. Over the course of 8 weeks, students learned to understand and create multifaceted pieces of media, games or systems through generative AI, as can be seen best in the <a href="https://www.youtube.com/watch?v=kEwo8UWL1n0" target="_blank">AICG 2024 Showreel Video</a> below.
	</div>
</div>
<br>

<center>
<div class="desktopOnly">
<table>
<tr>
<td>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/JzYu0ernxiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/o8eTI8vN5wI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/ENvQA6mPM8Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/xcVMmlCiLNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/fjoJ5wkMAc8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/RXP72ftdaZ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/YsJ-WYOcX-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/kEwo8UWL1n0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
</td>
<td>
</tr></table>
</div>


<div class="mobileOnly">
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/JzYu0ernxiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/o8eTI8vN5wI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/ENvQA6mPM8Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/xcVMmlCiLNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/fjoJ5wkMAc8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/RXP72ftdaZ8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/YsJ-WYOcX-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
	<iframe style="display:inline; margin: 7px 3px 0px 0px;" class="vid3" src="https://www.youtube.com/embed/kEwo8UWL1n0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
</div>

<table>
{{ $counter := 43 }}
{{ range .cites }}
	{{ $counter = add $counter 1 }}
	<tr style="line-height:1.2em; {{if .award }} background-color: #dddddd;{{ end }}">	
	<td style="vertical-align: top;">
	{{ if .award }}</td><td>🏆 {{.award }}:</td></tr><tr style="line-height:1.2em; background-color: #dddddd;"><td style="vertical-align: top;">{{ end }}

	<sup>{{ $counter }} </sup> 
	</td><td>
	  {{ if .url }}<a href="{{ .url }}" target="_blank" id="ref{{ $counter }}">{{end}}
		<p class="card-text" style="margin-bottom:0.15cm;max-width:1300px;">
		<b>{{ .title | markdownify }}</b>{{ if .subtitle }} {{ .subtitle }}{{ end }}. <br>
		{{ replace .reference  "Pfau, J." "**<u>Pfau, Johannes</u>**" | markdownify }} 
		</p>
	  {{ if .url }}</a>{{end}}
	  </td><td></tr>
{{ end }}
</table>
</center>

</div>